<!DOCTYPE html>
<hrml lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div id="chapter2">
        <h2>Chapter 2</h2>
        <div>
          <div v-if="ok">v-if条件による描画</div>
          <div v-show="ok">v-show条件による描画</div>
        </div>
        <div>
          <svg xmlns="https://www.w3.org/2000/svg" version="1.1">
            <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
          </svg>
          <input type="range" min="0" max="100" v-model="radius" />
        </div>
        <div>
          <p>{{ count }}回クリックしたよ</p>
          <button v-on:click="increment">カウントを増やす</button>
        </div>
        <div v-bind:text-content.prop="message">...</div>
        <div v-bind:scroll-top.prop="scroll">...</div>
      </div>

      <div id="chapter1">
        <h2>Chapter 1</h2>
        <p>{{ message }}</p>
        <input v-model.number="count" />

        <ol>
          <li v-for="item in list">{{ item }}</li>
        </ol>

        <button v-on:click="handleClick">Click</button>

        <button v-on:click="show=!show">切り替え</button>
        <transition>
          <p v-if="show">Hello Vue.js!</p>
        </transition>

        <p v-if="show">分岐</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</hrml>
